<!DOCTYPE html>
<html long="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>
  <title>Parking Spot Registration</title>
</head>

<body>
  <div class="form-container">
    <h2>Parking Spot Registration</h2>
    <form th:action="@{/parking-spot}" method="post">
      <div class="form-row">
        <div class="form-group">
          <label for="parkingSpotNumber">Número da Vaga 🪧</label>
          <input type="text" id="parkingSpotNumber" name="parkingSpotNumber" required>
        </div>
        <div class="form-group">
          <label for="licensePlateCar">Placa do Veiculo 🚗</label>
          <input type="text" id="licensePlateCar" name="licensePlateCar" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="brandCar">Marca do Carro 🚗</label>
          <input type="text" id="brandCar" name="brandCar" required>
        </div>
        <div class="form-group">
          <label for="modelCar">Modelo do Carro 🚗</label>
          <input type="text" id="modelCar" name="modelCar" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="colorCar">Cor do Carro 🚗</label>
          <input type="text" id="colorCar" name="colorCar" required>
        </div>
        <div class="form-group">
          <label for="responsibleName">Nome do Responsável 🧑</label>
          <input type="text" id="responsibleName" name="responsibleName" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="apartment">Apartamento 🏠</label>
          <input type="text" id="apartment" name="apartment" required>
        </div>
        <div class="form-group">
          <label for="block">Bloco</label>
          <input type="text" id="block" name="block" required>
        </div>
      </div>
      <div class="form-row">
        <button type="submit" class="submit-btn"> Registrar Vaga </button>
        <button type="submit" class="submit-btn"> Atualizar Vaga </button>
      </div>
    </form>
  </div>
</body>

</html>